@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #F9F7F7;
  --foreground: #112D4E;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-light: #F9F7F7;
  --color-brand-accent: #DBE2EF;
  --color-brand-medium: #3F72AF;
  --color-brand-dark: #112D4E;

  --color-blue-50: #F9F7F7;
  --color-blue-100: #DBE2EF;
  --color-blue-200: #DBE2EF;
  --color-blue-300: #DBE2EF;
  --color-blue-400: #3F72AF;
  --color-blue-500: #3F72AF;
  --color-blue-600: #3F72AF;
  --color-blue-700: #112D4E;
  --color-blue-800: #112D4E;
  --color-blue-900: #112D4E;

  --color-indigo-50: #F9F7F7;
  --color-indigo-100: #DBE2EF;
  --color-indigo-200: #DBE2EF;
  --color-indigo-300: #DBE2EF;
  --color-indigo-400: #3F72AF;
  --color-indigo-500: #3F72AF;
  --color-indigo-600: #3F72AF;
  --color-indigo-700: #112D4E;
  --color-indigo-800: #112D4E;
  --color-indigo-900: #112D4E;
}

body {
  background: var(--background);
  color: var(--foreground);
}
